.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: whitesmoke;
    flex-direction: column;
  }


  .link{
    color: white;
  }